<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>给图片添加水印.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BDF9DB071E343C8B00D621BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDF9DB201E343C8C00D621BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDF9DB2B1E343C8C00D621BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
